@CHARSET "UTF-8";

body {margin: -2px; background-image: url("../image/back.jpg"); background-size: cover;}
#main_wrap {width:100%; height:100%; margin: 0px; padding: 0px; border:solid 0px #77B5FF;}
#login {width: 30%; height: 100%; position: absolute; vertical-align: middle; margin: auto;}

/* login.jsp */
#login_layout {width: 100%; height: 100%; background-color: black; opacity: 0.5;}

#welcome {position:absolute; top: 18%; left: 10%;}
font {color:white; font-weight: bold;}
#welcome2 {position:absolute; top: 42%; left: 10%;}

#enter {position: absolute; top: 50%; left:10%; width: 100%; }
#enter input[type="text"] { width: 75%; height: 30px; border-radius: 5px; }

#message { width: 200%; height: 30px; border-radius: 5px;}

#button {position: absolute; top: 72%; left:10%; display: inline-block; width: 200px;}

#button input[type="button"] {width: 45%; height: 35px; border-radius: 4px; font-size: 15px; font-weight: bold;}

/* regi.jsp */
#regi_layout {width: 100%; height: 100%; background-color: black; opacity: 0.5;}
#regi_main {position:relative; top: -92%; left: 10%;}
#regi_main input[type="text"] { width: 55%; height: 28px; border-radius: 5px; line-height: 20px;}
#regi_main input[type="password"] { width: 55%; height: 28px; border-radius: 5px;}
#regi_main input[type="button"] {width: 18%; height: 30px; border-radius: 5px; font-size: 14px; font-weight: bold;}
#regi_main font {line-height: 20px;}
