@CHARSET "UTF-8";

    body {font-family:"돋움", dotum; font-size:0.75em; margin:0;}
   
    label { padding:0; margin:0; position:relative; top:1px; left:0px; }
    input, select {  vertical-align:middle; font-size:1em; font-family:"돋움", dotum; }   
    input { border:solid 1px white; padding:0.2em; }
    input[type="checkbox"], input[type="radio"] { border:0; padding:0; margin:0; }
    #body_wrap {width:100%;  padding:0px;}
    #main_wrap {width:100%;  padding:0px; }
    #top_wrap {width:80%; height:72px; margin-left:10%; border:solid 0px #FFE400; display: inline-block; border-bottom: solid 3px #FFA648;}
   
   #hap_wrap {width: 80%; height: 100%; margin-left: 10%;}
   #left_view {float:left; width:14%; height: 100%; margin:0px; padding:0px; display: inline-block;}
   #main_view {width: 86%; display: inline-block; height: 100%;}
   #mainleft_view {width: 49%; display: inline-block;  height: 90%;}
   #mainright_view {width: 49%; display: inline-block;  height: 90%;}
   #main_bottom_view{width: 100%; display: inline-block; height:10%;}

   #main_view input[type="button"] {margin-top: 3px;  border-radius: 3px; width: 45px; height:20px; 
   background-color: #FF7012; color: white; font-weight: bolder; vertical-align: top;}
   
   .menu_table { width:90%; padding:0; margin:0; color:#FFFFFF; text-align:left; }
   .menu_table ul { list-style:none;     -webkit-padding-start: 0px;}   
   .menu_table li { margin-bottom: 2px; height: 26px; background-color: #FFFFA2;}
   .menu_table li.title {  font-weight:bold; text-align:center; background-color:#EFEFEF; color:#000000; border:1px solid #f1eff0;  font-size: 15px;}
   .menu_table li.subtitle { border:solid 1px #919191; background-color:#FF5E00; padding-top:0.2em; line-height: 1.8em; text-align:left; font-weight: bolder; font-size: 13px;}
   .menu_table li.menu_item { line-height: 1.8em; }
   .menu_table li.menu_item a { display:block; border:solid 1px #FF8224;  padding-left: 15px; padding-top:0.2em; text-decoration:none; color:#000000;}
   .menu_table li.menu_item a:hover { background-image:url("../image/arrow.gif"); background-repeat:no-repeat; background-position:5px 7px; background-color:#FFFFFF; }

   .vote_table {width: 97%; margin-left: 2%; border: 0;}
   .vote_table th {text-align:center;  background-color:#FF8224; color:#000000; line-height:2.0em; font-weight:bolder; font-size: 13px; vertical-align:middle; padding:0.3em;  border-left:1px solid #EFEFEF;}
   .vote_table td{border:0; text-align: center; font-size: 13px; height: 32px; border-bottom: solid 1px #BDBDBD; border-left: solid 1px #BDBDBD; border-right: solid 1px #BDBDBD; border-top: solid 1px #BDBDBD;  }
   .vote_table tr{border-bottom: solid 1px #BDBDBD; }
   
   .result_table { margin-left: 10%; border: 0;}
   .result_table th {text-align:center;  background-color:#FF5E00; color:#FFFFFF; line-height:2.0em; font-weight:bolder; font-size: 13px;}
   .result_table td{border:0; text-align: center; font-size: 13px; height: 32px;}
   
/*    .odd { background-color: none; }
    .even { background-color: #D5D5D5; } 
    border-left:solid 1px #BDBDBD; border-right:solid 1px #BDBDBD; border-top:solid 1px #BDBDBD; */
